<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find uav)/maps/lt26maze.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find uav)/launch/include/amcl.launch" />

    <!-- Calls navigation stack package -->
    <include file="$(find uav)/launch/include/move_base_2wd.launch" />
    
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find uav)/rviz/navigate.rviz">
    </node> 
    
</launch>
