<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find uav)/maps/studyrm3.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find uav)/launch/include/amcl.launch" />

    <!-- Calls navigation stack package -->
    <include file="$(find uav)/launch/include/move_base_2wd.launch" />
</launch>
